*{
    margin: 0;
    padding: 0;
    text-align: center;

}

.box{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin: 1rem 0 1rem;
    display: grid;
}
.nav-div{
    margin: 1rem 0rem 1rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
}
.box-wraper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}